html, body {
	  height: 100%;
	  margin: 0;
}

.background {
	height: auto;
}
.head{
	width:100%;
	height:auto;
	border: 1px solid gray;
	background-image: url("img/2.jpg") ;
	/*background:#002233;*/
	color: black;
	min-width:540px;
}
.title{
	text-shadow: 3px 2px gray;
	text-align:center;
}

.subheader{
	position: -webkit-sticky;
  	position: sticky;
  	top: 0;
	width: 100%;
	height: auto;
	background-color: #006699;
}
.subheader ul{
	margin: 0px;
}
.subheader ul li{
	display: inline-block;
	margin: 5px;
}
.subheader ul li a{
	text-decoration: none;
	color: white;
	padding: 10px;
	text-align: center;
}

.contact-section{
	background: #34495e;
	background-size: cover;
	padding: 5px 0;
 }
.contact-section h1{
	text-align: center;
	color: #ddd;
}
.border{
	width: 180px;
	height: 5px;
	background: #34495e;
	margin: 5px 0;
}
.contact-section h2{
	text-align: center;
	color: #ddd;
}
.contact-section p{
	text-align: center;
	color: #ddd;
}
.contact-form{
	max-width: 400px;
	margin: auto;
	padding: 0 10px;
	overflow: hidden;
}
.contact-form-text{
	display: block;
	width: 100%;
	box-sizing: border-box;
	margin: 16px 0;
	border: 0;
	background: #111;
	padding: 20px 40px;
	outline: none;
	color: #ddd;
    transition: 0.5s;
}
.contact-form-text:focus{
	box-shadow: 0 0 10px 4px #34495e;
}
textarea.contact-form-text{
	resize: none;
	height: 120px;
}	
.contact-form-btn{
	float: right;
	border: 0;
	background: #999999;
	color: #fff;
	padding: 12px 50px;
	border-radius: 20px;
	cursor: pointer;
	transition: 0.5s;
}
btn:hover{
	background: #2980b9;
}
footer{
	width:100%;
	height: auto;	
	color: #fff;
	font-size: 23px;
	text-align: center;
	line-height: 50px;
}