html, body {
	  height: 100%;
	  margin: 0;
}

.background {
	height: auto;
}
.head{
	width:100%;
	height:auto;
	border: 1px solid gray;
	background-image: url("img/2.jpg") ;
	/*background:#002233;*/
	color: black;
	min-width:540px;
}
.title{
	text-shadow: 3px 2px gray;
	text-align:center;
}

.subheader{
	position: -webkit-sticky;
  	position: sticky;
  	top: 0;
	width: 100%;
	height: auto;
	background-color: #006699;
}
.subheader ul{
	margin: 0px;
}
.subheader ul li{
	display: inline-block;
	margin: 5px;
}
.subheader ul li a{
	text-decoration: none;
	color: white;
	padding: 10px;
	text-align: center;
}
.develop{
	background: #34495e;
	background-size: cover;
	padding: 40px 0;
 }
 .border{
	width: 180px;
	height: 335px;
	background: #34495e;
	margin: 40px auto;
}
